*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shered Style */

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    padding: 13px 16px;
    /* background-color: #469165; */
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.primary{
    background-color: #469165;
}

.secondary{
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

header nav{
    padding: 16px;
}

header nav{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    align-items: center;
    max-width: 1600px;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 16px;
}

/* Logo */

header nav .logo img{
    width: 140px;
    height: 60px;
}

header nav .menu{
    display: flex;
    justify-content: space-between;
    max-width: 875px;
    align-items: center;
    width: 100%;
}

header nav .menu ul{
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

header nav .menu li{
    list-style: none;
}

header nav .menu li a{
    text-decoration: none;
    color: #000000;
}

#bannar{
    background-image: url(./assets/hero-bg.png);
    /* background-position: center; */
    background-size: cover;
    height: 674px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#bannar .bannar-content{
    align-items: center;
    /* justify-content: center; */
    padding: 115px 120px 179px 120px;
}

#bannar .bannar-content #early-access p{
    font-size: 16px;
    color: #469165;
    background-color: white;
    padding: 8px 12px;
    border-radius: 100px;
    margin-bottom: 16px;
    /* max-width: 230px; */
}

#bannar .bannar-content #early-access{
    display: inline-block;
    /* padding: 8px 12px; */
}

#bannar .bannar-content .bannar-heading h2{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: white;
}

#bannar .bannar-content .bannar-heading h2 span{
    color: #30B868;
}

#bannar .bannar-content .bannar-heading p{
    font-size: 18px;
    line-height: 24px;
    color: white;
}

#bannar .bannar-content #button-section{
    margin-top: 32px;
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

#second-main{
    padding-top: 66px;
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
}

#second-main #second-heading{
    font-size: 48px;
    font-weight: bold;
    line-height: 44px;
    text-align: center;
    color: #001931;
    margin-bottom: 16px;
}

#second-main #second-heading-p{
    font-size: 16px;
    text-align: center;
    line-height: 20px;
}

#second-main .card-menu{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 44px;
    flex-wrap: wrap;
}

#second-main .card-menu .card img{
    background-color: #F95555;
    padding: 14px;
    border-radius: 100%;
}

#second-main .card-menu .card h2{
    font-size: 24px;
    font-weight: 600;
    padding: 16px 0;
    color: #001931;
}

#second-main .card-menu .card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

#second-main .card-menu .card{
    text-align: center;
    padding: 24px;
    box-shadow: 0 0 3px #0000001A;
    border-radius: 8px;
    max-height: 322px;
    max-width: 300px;
}

/* Third Main Section  */
#third-main{
    padding-top: 120px;
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    gap: 60px;
}

#third-main img .main-image{
    height: 600px;
    width: 600px;
}

#third-main .third-main{
    padding: 102px 0;
}

#third-main .third-main #ts{
    font-size: 16px;
    line-height: 20px;
    color: #469165;
}

#third-main .third-main h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding: 16px 0;
}

#third-main .third-main p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

#third-main .third-main #check-list-item{
    padding-top: 40px;
}

/* #third-main .third-main .check-image{
    height: 20px;
    width: 20px;
    padding: 2px;
} */

#third-main .third-main .check-list{
    display: inline-block;
    line-height: 20px;
    color: black;
    /* max-width: 382px; */
    padding: 16px 0;
    align-items: center;
}